In [11]:
import pandas as pd

df = pd.read_json('australian_postcodes.json')

In [17]:
df = df[['id','postcode','locality','state','long','lat']]
df

,id,postcode,locality,state,long,lat
0,230,200,Anu,ACT,149.119000,-35.277700
1,21820,200,Australian National University,ACT,149.118900,-35.277700
2,232,800,Darwin,NT,130.836680,-12.458684
3,24049,800,Darwin City,NT,130.836680,-12.458684
4,233,801,Darwin,NT,130.836680,-12.458684
...,...,...,...,...,...,...
18416,11186,9013,Brisbane,QLD,152.823141,-27.603479
18417,11187,9015,Brisbane,QLD,152.823141,-27.603479
18418,11196,9464,Northgate Mc,QLD,153.074982,-27.397055
18419,11197,9726,Gold Coast Mc,QLD,153.412197,-28.008783
18420,23878,9999,North Pole,VIC,144.956776,-37.817403

In [13]:
df[df.duplicated(subset=['postcode','locality', 'state'], keep=False)]

          id  postcode       locality state        long        lat
1641    3427      2304       MAYFIELD   NSW  151.738620 -32.880319
1642    4146      2304       MAYFIELD   NSW  149.752107 -35.628428
2914   20376      2453        MOONPAR   NSW  152.641659 -30.221851
2915   23980      2453        MOONPAR   NSW  152.641659 -30.221851
4517   22825      2628       AVONSIDE   NSW  148.720377 -36.398064
4518   22874      2628       AVONSIDE   NSW  148.720377 -36.398064
5382    5501      2790       CLARENCE   NSW  150.356874 -33.310653
5383   23916      2790       CLARENCE   NSW  150.219766 -33.474032
7553    5773      3401      ROCKLANDS   VIC  141.940832 -36.881534
7554   24016      3401      ROCKLANDS   VIC  142.050718 -37.274919
8494    7179      3658     CLONBINANE   VIC  145.111854 -37.241401
8495   23917      3658     CLONBINANE   VIC  145.157477 -37.356702
8906    6989      3760   SMITHS GULLY   VIC  145.288073 -37.624929
8907   24021      3760   SMITHS GULLY   VIC  145.288344 -37.627000
10246  12177      4225    COOLANGATTA   QLD  153.517333 -28.168787
10247  23918      4225    COOLANGATTA   QLD  153.533329 -28.169971
10248  23877      4225     GREENMOUNT   QLD  153.517333 -28.168787
10249  11900      4225     GREENMOUNT   QLD  153.517333 -28.168787
12547  12193      4730      ERNESTINA   QLD  143.402522 -23.790711
12548  23933      4730      ERNESTINA   QLD  143.946911 -23.720986
12582  12226      4740   BAKERS CREEK   QLD  149.059737 -21.337630
12583  23891      4740   BAKERS CREEK   QLD  149.158108 -21.214017
12750  14371      4800   HIDEAWAY BAY   QLD  148.516317 -20.465423
12751  23953      4800   HIDEAWAY BAY   QLD  148.482365 -20.080061
13151  13887      4854    JARRA CREEK   QLD  145.842063 -18.020178
13152  23960      4854    JARRA CREEK   QLD  145.859931 -17.951787
14456  15048      5269         CUSTON    SA  140.601672 -36.404918
14457  21397      5269         CUSTON    SA  140.929179 -36.465375
14531  15102      5280   GERMAN CREEK    SA  140.260783 -37.449179
14532  21417      5280   GERMAN CREEK    SA  140.496898 -37.828486
15113  14657      5523  CRYSTAL BROOK    SA  138.165325 -33.401829
15114  23925      5523  CRYSTAL BROOK    SA  138.202888 -33.367796
16113  16276      6210        CLIFTON    WA  115.728286 -32.557981
16114     55      6210        CLIFTON    WA  115.728286 -32.557981
16339  15916      6280         KALGUP    WA  115.302732 -33.728945
16340  23964      6280         KALGUP    WA  115.370956 -33.721466
16689  15683      6370      KIRK ROCK    WA  117.626013 -32.806050
16690  21774      6370      KIRK ROCK    WA  117.765098 -32.653071
16861  11149      6430      BROADWOOD    WA  121.446478 -30.599071
16862  23902      6430      BROADWOOD    WA  121.447467 -30.789273
18153  11563      7300          PERTH   TAS  147.223173 -41.616219
18154  24010      7300          PERTH   TAS  147.207625 -41.608515

In [14]:
df = df.drop_duplicates(subset=['postcode','locality', 'state'], keep='first', ignore_index = True)

In [16]:
for i,val in enumerate(df.values):
    df['locality'][i] = df['locality'][i].title()

<ipython-input-16-9e7b5fee2d93>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['locality'][i] = df['locality'][i].title()

In [18]:
df

,id,postcode,locality,state,long,lat
0,230,200,Anu,ACT,149.119000,-35.277700
1,21820,200,Australian National University,ACT,149.118900,-35.277700
2,232,800,Darwin,NT,130.836680,-12.458684
3,24049,800,Darwin City,NT,130.836680,-12.458684
4,233,801,Darwin,NT,130.836680,-12.458684
...,...,...,...,...,...,...
18416,11186,9013,Brisbane,QLD,152.823141,-27.603479
18417,11187,9015,Brisbane,QLD,152.823141,-27.603479
18418,11196,9464,Northgate Mc,QLD,153.074982,-27.397055
18419,11197,9726,Gold Coast Mc,QLD,153.412197,-28.008783
18420,23878,9999,North Pole,VIC,144.956776,-37.817403

In [20]:
df.to_csv('postcodes.csv', index = False)