In [25]:
import pandas as pd

In [26]:
import numpy as np

In [27]:
df = pd.read_excel('school-location-2021e23a2f404c94637ead88ff00003e0139.xlsx', sheet_name=1)

df1 = pd.read_excel('school-profile-2021c03a2f404c94637ead88ff00003e0139.xlsx', sheet_name=1)

In [28]:
df = df[['Latitude','Longitude','Local Government Area', 'ACARA SML ID']]

In [29]:
df = df.rename(columns = {'Local Government Area Name':'LGA Name',
                    'Local Government Area': 'LGA Code'})

In [30]:

df1 = df1.drop(columns = ['Location AGE ID','School AGE ID','Campus Type','Rolled Reporting Description','Governing Body','Governing Body URL','Geolocation'])

In [31]:
df1.describe(include='all')

,Calendar Year,ACARA SML ID,School Name,Suburb,State,Postcode,School Sector,School Type,School URL,Year Range,...,Non-Teaching Staff,Full Time Equivalent Non-Teaching Staff,Total Enrolments,Girls Enrolments,Boys Enrolments,Full Time Equivalent Enrolments,Indigenous Enrolments (%),Language Background Other Than English - Yes (%),Language Background Other Than English - No (%),Language Background Other Than English - Not Stated (%)
count,9679.0,9679.000000,9679,9679,9679,9679.000000,9679,9679,9506,9679,...,9653.000000,9653.000000,9605.000000,9605.000000,9605.000000,9605.000000,9605.000000,9602.000000,9602.000000,9602.000000
unique,NaN,NaN,8821,4401,8,NaN,3,4,9453,113,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,St Joseph's School,Wagga Wagga,NSW,NaN,Government,Primary,http://www.autismspectrum.org.au,K-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,66,23,3178,NaN,6766,6231,6,2740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2021.0,45659.493233,NaN,NaN,NaN,3759.589007,NaN,NaN,NaN,NaN,...,19.791567,14.162602,424.293285,207.602707,216.690578,421.075815,10.595523,23.626640,73.596855,2.776609
std,0.0,3211.261579,NaN,NaN,NaN,1470.918432,NaN,NaN,NaN,NaN,...,22.513017,16.776879,428.351784,227.761012,242.553167,419.041026,17.864371,26.145891,27.916182,11.355298
min,2021.0,40000.000000,NaN,NaN,NaN,800.000000,NaN,NaN,NaN,NaN,...,0.000000,0.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,2021.0,42924.500000,NaN,NaN,NaN,2550.000000,NaN,NaN,NaN,NaN,...,6.000000,4.000000,119.000000,51.000000,57.000000,118.000000,1.000000,5.000000,60.000000,0.000000
50%,2021.0,45585.000000,NaN,NaN,NaN,3350.000000,NaN,NaN,NaN,NaN,...,13.000000,8.900000,310.000000,146.000000,151.000000,308.000000,4.000000,13.000000,85.000000,0.000000
75%,2021.0,48243.500000,NaN,NaN,NaN,4741.000000,NaN,NaN,NaN,NaN,...,25.000000,17.600000,587.000000,280.000000,288.000000,584.000000,12.000000,34.000000,95.000000,0.000000
max,2021.0,53058.000000,NaN,NaN,NaN,7470.000000,NaN,NaN,NaN,NaN,...,395.000000,249.300000,4726.000000,2831.000000,3045.000000,4304.000000,100.000000,100.000000,100.000000,100.000000

In [32]:
df1.columns

Index(['Calendar Year', 'ACARA SML ID', 'School Name', 'Suburb', 'State',
       'Postcode', 'School Sector', 'School Type', 'School URL', 'Year Range',
       'ICSEA', 'ICSEA Percentile', 'Bottom SEA Quarter (%)',
       'Lower Middle SEA Quarter (%)', 'Upper Middle SEA Quarter (%)',
       'Top SEA Quarter (%)', 'Teaching Staff',
       'Full Time Equivalent Teaching Staff', 'Non-Teaching Staff',
       'Full Time Equivalent Non-Teaching Staff', 'Total Enrolments',
       'Girls Enrolments', 'Boys Enrolments',
       'Full Time Equivalent Enrolments', 'Indigenous Enrolments (%)',
       'Language Background Other Than English - Yes (%)',
       'Language Background Other Than English - No (%)',
       'Language Background Other Than English - Not Stated (%)'],
      dtype='object')

In [33]:
df = df[df['ACARA SML ID'].isin(list(df1['ACARA SML ID'].values))].reset_index()

In [34]:
df = df1.join(df.set_index('ACARA SML ID'),on='ACARA SML ID')

In [35]:
df

,Calendar Year,ACARA SML ID,School Name,Suburb,State,Postcode,School Sector,School Type,School URL,Year Range,...,Boys Enrolments,Full Time Equivalent Enrolments,Indigenous Enrolments (%),Language Background Other Than English - Yes (%),Language Background Other Than English - No (%),Language Background Other Than English - Not Stated (%),index,Latitude,Longitude,LGA Code
0,2021,40000,Corpus Christi Catholic School,Bellerive,TAS,7018,Catholic,Primary,http://www.corpuschristi.tas.edu.au,Prep-6,...,235.0,407.6,2.0,7.0,93.0,0.0,0,-42.871256,147.371473,61410
1,2021,40001,Fahan School,Sandy Bay,TAS,7005,Independent,Combined,http://www.fahan.tas.edu.au,Prep-12,...,0.0,388.0,2.0,13.0,87.0,0.0,1,-42.916158,147.352764,62810
2,2021,40002,Geneva Christian College,Latrobe,TAS,7307,Independent,Combined,http://www.geneva.tas.edu.au,Prep-12,...,146.0,279.9,6.0,4.0,96.0,0.0,2,-41.226741,146.438726,63810
3,2021,40003,Holy Rosary Catholic School,Claremont,TAS,7011,Catholic,Primary,http://www.holyrosary.tas.edu.au,Prep-6,...,199.0,388.0,4.0,4.0,96.0,0.0,3,-42.789375,147.248306,62610
4,2021,40004,Immaculate Heart of Mary Catholic School,Lenah Valley,TAS,7008,Catholic,Primary,http://www.ihms.tas.edu.au,Prep-6,...,93.0,200.0,9.0,16.0,84.0,0.0,4,-42.865543,147.290159,62810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9674,2021,53049,Ming-De International School Toowoomba,Westbrook,QLD,4350,Independent,Primary,NaN,Prep-3,...,5.0,19.6,0.0,100.0,0.0,0.0,10634,-27.615976,151.831722,36910
9675,2021,53050,The Village School Gold Coast,Coolangatta,QLD,4225,Independent,Primary,http://www.thevillageschoolgoldcoast.com.au,Prep-4,...,5.0,13.0,0.0,8.0,92.0,0.0,10635,-28.168590,153.539755,33430
9676,2021,53055,Secondary College of Languages,Parramatta,NSW,2150,Government,Secondary,NaN,Unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,10636,-33.813693,151.008176,16260
9677,2021,53057,Nawarddeken Academy Mamadawerre School,West Arnhem Land,NT,886,Independent,Combined,NaN,Unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,10637,-12.257454,133.523957,74660
9678,2021,53058,Nawarddeken Academy Manmoyi School,West Arnhem Land,NT,886,Independent,Combined,NaN,Unknown,...,NaN,NaN,NaN,NaN,NaN,NaN,10638,-12.544185,134.113497,74660

In [36]:
df['School URL'] = df['School URL'].apply(lambda x: 'Unknown' if type(x) == float else x)

In [37]:
df.isna().sum()

Calendar Year                                                0
ACARA SML ID                                                 0
School Name                                                  0
Suburb                                                       0
State                                                        0
Postcode                                                     0
School Sector                                                0
School Type                                                  0
School URL                                                   0
Year Range                                                   0
ICSEA                                                      171
ICSEA Percentile                                           171
Bottom SEA Quarter (%)                                     171
Lower Middle SEA Quarter (%)                               171
Upper Middle SEA Quarter (%)                               171
Top SEA Quarter (%)                                        171
Teaching Staff                                              26
Full Time Equivalent Teaching Staff                         26
Non-Teaching Staff                                          26
Full Time Equivalent Non-Teaching Staff                     26
Total Enrolments                                            74
Girls Enrolments                                            74
Boys Enrolments                                             74
Full Time Equivalent Enrolments                             74
Indigenous Enrolments (%)                                   74
Language Background Other Than English - Yes (%)            77
Language Background Other Than English - No (%)             77
Language Background Other Than English - Not Stated (%)     77
index                                                        0
Latitude                                                     0
Longitude                                                    0
LGA Code                                                     0
dtype: int64

In [38]:
df = df.dropna(subset = ['ICSEA','Teaching Staff','index']).reset_index()

In [39]:
df.isna().sum()

level_0                                                    0
Calendar Year                                              0
ACARA SML ID                                               0
School Name                                                0
Suburb                                                     0
State                                                      0
Postcode                                                   0
School Sector                                              0
School Type                                                0
School URL                                                 0
Year Range                                                 0
ICSEA                                                      0
ICSEA Percentile                                           0
Bottom SEA Quarter (%)                                     0
Lower Middle SEA Quarter (%)                               0
Upper Middle SEA Quarter (%)                               0
Top SEA Quarter (%)                                        0
Teaching Staff                                             0
Full Time Equivalent Teaching Staff                        0
Non-Teaching Staff                                         0
Full Time Equivalent Non-Teaching Staff                    0
Total Enrolments                                           0
Girls Enrolments                                           0
Boys Enrolments                                            0
Full Time Equivalent Enrolments                            0
Indigenous Enrolments (%)                                  0
Language Background Other Than English - Yes (%)           0
Language Background Other Than English - No (%)            0
Language Background Other Than English - Not Stated (%)    0
index                                                      0
Latitude                                                   0
Longitude                                                  0
LGA Code                                                   0
dtype: int64

In [40]:
clean_cols = []

for col in df.columns:
    clean_cols.append(col.replace(' ','_').lower())

df.columns = clean_cols

In [41]:
df = df.drop(columns = ['index'])

In [42]:
df

,level_0,calendar_year,acara_sml_id,school_name,suburb,state,postcode,school_sector,school_type,school_url,...,girls_enrolments,boys_enrolments,full_time_equivalent_enrolments,indigenous_enrolments_(%),language_background_other_than_english_-_yes_(%),language_background_other_than_english_-_no_(%),language_background_other_than_english_-_not_stated_(%),latitude,longitude,lga_code
0,0,2021,40000,Corpus Christi Catholic School,Bellerive,TAS,7018,Catholic,Primary,http://www.corpuschristi.tas.edu.au,...,173.0,235.0,407.6,2.0,7.0,93.0,0.0,-42.871256,147.371473,61410
1,1,2021,40001,Fahan School,Sandy Bay,TAS,7005,Independent,Combined,http://www.fahan.tas.edu.au,...,388.0,0.0,388.0,2.0,13.0,87.0,0.0,-42.916158,147.352764,62810
2,2,2021,40002,Geneva Christian College,Latrobe,TAS,7307,Independent,Combined,http://www.geneva.tas.edu.au,...,134.0,146.0,279.9,6.0,4.0,96.0,0.0,-41.226741,146.438726,63810
3,3,2021,40003,Holy Rosary Catholic School,Claremont,TAS,7011,Catholic,Primary,http://www.holyrosary.tas.edu.au,...,189.0,199.0,388.0,4.0,4.0,96.0,0.0,-42.789375,147.248306,62610
4,4,2021,40004,Immaculate Heart of Mary Catholic School,Lenah Valley,TAS,7008,Catholic,Primary,http://www.ihms.tas.edu.au,...,107.0,93.0,200.0,9.0,16.0,84.0,0.0,-42.865543,147.290159,62810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9498,9669,2021,53016,Djerriwarrh Community & Education Services - D...,Melton,VIC,3337,Independent,Secondary,https://www.dcc.vic.edu.au,...,16.0,28.0,43.7,0.0,2.0,98.0,0.0,-37.686270,144.577811,24650
9499,9672,2021,53025,Humanitas High School,Fortitude Valley,QLD,4006,Independent,Secondary,Unknown,...,10.0,7.0,17.0,0.0,6.0,94.0,0.0,-27.454671,153.029993,31000
9500,9673,2021,53030,Alta-1 Kimberley College,Kununurra,WA,6743,Independent,Special,Unknown,...,17.0,0.0,17.0,100.0,25.0,75.0,0.0,-15.796328,128.688100,59340
9501,9674,2021,53049,Ming-De International School Toowoomba,Westbrook,QLD,4350,Independent,Primary,Unknown,...,15.0,5.0,19.6,0.0,100.0,0.0,0.0,-27.615976,151.831722,36910
9502,9675,2021,53050,The Village School Gold Coast,Coolangatta,QLD,4225,Independent,Primary,http://www.thevillageschoolgoldcoast.com.au,...,8.0,5.0,13.0,0.0,8.0,92.0,0.0,-28.168590,153.539755,33430

In [43]:
suburbDf = df[['acara_sml_id','suburb','state','postcode','lga_code']]

In [44]:
clean_cols = []
for col in df.columns:
    clean_cols.append(col.replace('_(%)','').replace('-','_'))
    
df.columns = clean_cols

In [45]:
clean_cols = []
for col in df.columns:
    clean_cols.append(col.replace('___','_'))
    
df.columns = clean_cols

In [46]:
df.pop('level_0')
df.pop('suburb')
df.pop('state')
df.pop('postcode')
df.pop('calendar_year')

0       2021
1       2021
2       2021
3       2021
4       2021
        ...
9498    2021
9499    2021
9500    2021
9501    2021
9502    2021
Name: calendar_year, Length: 9503, dtype: int64

In [47]:
df

,acara_sml_id,school_name,school_sector,school_type,school_url,year_range,icsea,icsea_percentile,bottom_sea_quarter,lower_middle_sea_quarter,...,girls_enrolments,boys_enrolments,full_time_equivalent_enrolments,indigenous_enrolments,language_background_other_than_english_yes,language_background_other_than_english_no,language_background_other_than_english_not_stated,latitude,longitude,lga_code
0,40000,Corpus Christi Catholic School,Catholic,Primary,http://www.corpuschristi.tas.edu.au,Prep-6,1063.0,74.0,9.0,31.0,...,173.0,235.0,407.6,2.0,7.0,93.0,0.0,-42.871256,147.371473,61410
1,40001,Fahan School,Independent,Combined,http://www.fahan.tas.edu.au,Prep-12,1136.0,93.0,2.0,11.0,...,388.0,0.0,388.0,2.0,13.0,87.0,0.0,-42.916158,147.352764,62810
2,40002,Geneva Christian College,Independent,Combined,http://www.geneva.tas.edu.au,Prep-12,1004.0,48.0,28.0,33.0,...,134.0,146.0,279.9,6.0,4.0,96.0,0.0,-41.226741,146.438726,63810
3,40003,Holy Rosary Catholic School,Catholic,Primary,http://www.holyrosary.tas.edu.au,Prep-6,1000.0,46.0,29.0,40.0,...,189.0,199.0,388.0,4.0,4.0,96.0,0.0,-42.789375,147.248306,62610
4,40004,Immaculate Heart of Mary Catholic School,Catholic,Primary,http://www.ihms.tas.edu.au,Prep-6,1007.0,50.0,28.0,30.0,...,107.0,93.0,200.0,9.0,16.0,84.0,0.0,-42.865543,147.290159,62810
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9498,53016,Djerriwarrh Community & Education Services - D...,Independent,Secondary,https://www.dcc.vic.edu.au,11-12,955.0,25.0,50.0,36.0,...,16.0,28.0,43.7,0.0,2.0,98.0,0.0,-37.686270,144.577811,24650
9499,53025,Humanitas High School,Independent,Secondary,Unknown,7,1077.0,79.0,13.0,16.0,...,10.0,7.0,17.0,0.0,6.0,94.0,0.0,-27.454671,153.029993,31000
9500,53030,Alta-1 Kimberley College,Independent,Special,Unknown,8-11,789.0,2.0,66.0,27.0,...,17.0,0.0,17.0,100.0,25.0,75.0,0.0,-15.796328,128.688100,59340
9501,53049,Ming-De International School Toowoomba,Independent,Primary,Unknown,Prep-3,1090.0,83.0,7.0,21.0,...,15.0,5.0,19.6,0.0,100.0,0.0,0.0,-27.615976,151.831722,36910
9502,53050,The Village School Gold Coast,Independent,Primary,http://www.thevillageschoolgoldcoast.com.au,Prep-4,1076.0,79.0,3.0,28.0,...,8.0,5.0,13.0,0.0,8.0,92.0,0.0,-28.168590,153.539755,33430

In [48]:
df.to_csv('clean_school_data.csv',index=False)

In [49]:
suburbDf.to_csv('suburb_data.csv',index=False)